<div>
    <mat-toolbar>
        <span>
            Cairo Foodies
        </span>
        <span class="nav-items">
            <span class="ml-2" (click)="navigateTo('home')">Home</span>
            <span class="ml-2" (click)="navigateTo('admin')">Admin</span>
            <span class="ml-2" (click)="navigateTo('food-items')">Food-Items</span>
            <span class="ml-2" (click)="navigateTo('cart')">Cart</span>
        </span>
        <span class="example-spacer"></span>
        <marquee style="width: 250px;" behavior="scroll" direction="left" scrollamount="3">
        <span>
           Alavil,Azhikode,
           phone no:7510527979
        </span>
    </marquee>
    </mat-toolbar>
</div>